.main-wrapper {
    /* overflow-x: scroll; */
    height: 100%;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
}

.card {
    /* background-color: aquamarine; */
    height: 80%;
    width: 400px;
    margin: 20px;
    margin-right: 0 !important;
    flex-shrink: 0;
    padding: 30px;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.card-title {
    font-size: 25px;
}
.card-abstract {
    text-align: left;
    font-size: 20px;
    font-weight: 1000;
}