.student-tag, .teacher-tag, .replay-button {
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    font-size: 2px;
}

.teacher-tag {
    color: #ffffff;
    font-weight: bolder;
    background-color: #40a0ff77;
    /* box-shadow: 0 0 4px #409EFF, 0 0 4px #409EFF; */
    display: block;
    margin: 5px;
}

.student-tag {
    color: #ffffff;
    font-weight: bolder;
    background-color: #67c23a90;
    /* box-shadow: 0 0 4px #67C23A, 0 0 4px #67C23A; */
    display: block;
    margin: 5px;
}

.replay-button {
    color: #ffffff;
    background-color: #1b3a1765;
}

.replay-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.custom-tree-node {
    width: 100%;
}

.el-tree-node__content {
    height: auto !important;
    text-align: left;
    padding-left: 0 !important;
}

.el-tree {
    /* 透明 */
    background: transparent !important;
    /* 结构 */
    height: 100%;
    overflow-y: scroll;
    /* background-color: transparent !important; */
}

.el-tree-node {
    background: rgba( 255, 255, 255, 0.20);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 15.0px);
    -webkit-backdrop-filter: blur( 15.0px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    /* 结构 */
    margin-left: 30px;
    margin: 10px;
    white-space: normal !important;
}
/* 问题标签wrapper */
.tags-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

/*  问题标签样式 */
.el-tag {
}

.tag {
    /* 样式 */
    background: rgba( 155, 221, 255, 0.45);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37); */
    backdrop-filter: blur( 5.0px);
    -webkit-backdrop-filter: blur( 5.0px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    /* 结构 */
    display: block;
    margin: 0 5px;
    padding: 2px 5px;
    font-size: 5px;
}