@import "header.css";
@import "button.css";
@import "scrollbar.css";
html, body, #app {
  height: 100%;
}

body {
  /* background-image: linear-gradient(135deg,rgb(199, 255, 238) 20%, #75c3ff 40%,  rgb(170, 190, 232) 60%, #9face6 100%) !important; */
  background-image: url(../figure/background.svg) !important;
}

#app, .el-menu, .el-header, .el-footer, .el-container, .container0, .container1, .el-menu-item-group {
  background-color: transparent !important;
}

.el-container {
  height: 100%;
}

.el-main {
  background: rgba(255, 255, 255, 0.426);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
  backdrop-filter: blur( 11.0px);
  -webkit-backdrop-filter: blur( 11.0px);
  border-radius: 30px;
  border: 2px solid rgba( 255, 255, 255, 0.18);
  margin: 25px;
}

.el-menu {
  /* 去掉 menu 和 main 之间的空隙 */
  border-right: 0px !important;
  /* 毛玻璃 */
}

.el-menu-vertical-demo {
  background: rgba( 255, 255, 255, 0.25) !important;
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37); */
  box-shadow: 2px 3px 3px rgba( 31, 38, 135, 0.37), -28px -28px 35px rgba( 31, 38, 135, 0.37);
  backdrop-filter: blur( 4px);
  -webkit-backdrop-filter: blur( 4px);
  border-radius: 0px;
  border-right: 1px solid rgba(255, 255, 255, 0.303) !important;
}

.is-opened {
  background: transparent !important;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  color: white;
}

.el-menu-item:hover {
  background: rgba(255, 255, 255, 0.33) !important;
  border-radius: 10px !important;
}

.is-active {
  background: transparent !important;
}