.el-select__popper {
    background: rgba(255, 255, 255, 0.323) !important;
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
}

.el-select-dropdown__item:hover {
    background: rgba(255, 255, 255, 0.412) !important;
}