/* 全局样式表 */

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container0 {
  height: 100%;
}

/* * {
  background: rgba( 255, 255, 255, 0.20);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
  backdrop-filter: blur( 7.0px);
  -webkit-backdrop-filter: blur( 7.0px);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18);
} */