.el-upload-list__item {
    background: rgba(210, 235, 255, 0.138);
    box-shadow: 0 3px 10px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 8.0px);
    -webkit-backdrop-filter: blur( 8.0px);
    border-radius: 20px !important;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    padding: 20px;
    margin: 10px 0px !important;
    width: 90% !important;
    align-self: center;
}

.el-upload-list__item:hover {
    background: rgba(255, 255, 255, 0.172) !important;
}

.el-upload {
    width: 100%;
}

.upload-demo {
    width: 80%;
}

.upload-button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.el-upload-list {
    height: 90%;
    overflow: scroll;
    display: flex;
    flex-direction: column
}